#artModal {
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 10;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 20px;
  overflow: auto;
}

.previous,
.next {
  position: absolute;
  top: 45%;
  background: transparent;
  border: none;
  color: white;
  font-size: 4em;
  transition: color 0.2s ease;
  &[disabled] {
    pointer-events: none;
    color: var(--lightGrey);
    opacity: 0.5;
  }
}
.previous:hover,
.next:hover {
  color: var(--lightGreen);
}

.previous {
  left: 0%;
}
.next {
  right: 0%;
}

/* Modal content */
.artModal-content {
  position: relative;
  background-color: white;
  width: 80%; /* Width in proportion to its parent container*/
  max-width: 840px; /* Max width where it stops expanding */
  height: 98%; /* Height in proportion to its parent container */
  margin: auto; /* Auto margin according to the element width */
  padding: 10px;
  border: 1px solid black;
  border-radius: 20px; /* Optional. Rounds container corners */
  overflow: auto;
  top: 50%;
  transform: translateY(-50%);
}
.artwork_title {
  letter-spacing: 1px;
  font-size: 5rem;
  margin: auto;
  text-align: center;
  padding-top: 5px;
}

.artist_credit {
  margin: 10px auto;
  font-size: 17px;
  text-align: center;
  a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  span {
    color: #484848;
    transition: all 0.3s;
    &:hover {
      opacity: 0.8;
      text-decoration: underline;
    }
  }
}

.avatar-small-container {
  margin-left: 20px;
}
.artwork-container {
  height: 500px;
}

.artwork_img_modal {
  height: 100%;
}

.artwork_description {
  margin: 0 auto 10px auto;
  width: 80%;
}

/* Close button */
.close {
  color: #aaaaaa;
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@media (min-width: 1201px) {
  .previous {
    left: 10%;
  }
  .next {
    right: 10%;
  }
}
@media (min-width: 1050px) and (max-width: 1200px) {
  .previous {
    left: 5%;
  }
  .next {
    right: 5%;
  }
}

@media (max-width: 812px) {
  .artwork_title {
    font-size: 4rem;
  }
  .artModal-content {
    height: 95%;
  }
  .artwork-container {
    max-height: 300px;
    margin: 20px auto;
  }
}
